//
// Typography //
//
body {
	color: $color-white-08;
	font-family: $font-family-primary;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0;
	@include breakpoint-less(md) {
		font-size: 0.938rem;
	}
}

h1,h2,h3,h4,h5,h6 {
	letter-spacing: -0.3px;
	color: white;
	font-family: $font-family-secondary;
	font-weight: $font-weight-medium;
}

p {
	margin: 0;
	line-height: 1.74; /* 26px */
	@include breakpoint-less(md) {
		line-height: 1.6; /* 24px */
	}
}
.uppercase {
	text-transform: uppercase;
}
.font-small {
	font-size: 0.9em;
	line-height: 1.7;
	@include breakpoint-less(md) {
		font-size: 0.9em;
		line-height: 1.7;
	}
}
.font-large {
	font-size: 1.063em;
	line-height: 1.6;
	@include breakpoint-less(md) {
		font-size: 1.063em;
	}
}

.title-heading {
	position: relative;
	display: inline-block;
	padding-left: 20px;
	font-family: $font-family-secondary;
	font-size: 0.9em;
	font-weight: $font-weight-medium;
	text-transform: uppercase;
	letter-spacing: 1px;
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		@include transform(translateY(-50%));
		width: 12px;
		height: 12px;
		border: 2px solid $color-white-03;
		border-radius: 50%;
	}
}

.sm-heading {
	font-family: $font-family-secondary;
	font-size: 0.9em;
	font-weight: $font-weight-medium;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.2;
}


//
// Font Icons //
//
i {
	display: inline-block;
}
.icon-4xl {
	i { font-size: 2.4em; }
}
.icon-3xl {
	i { font-size: 2.13em; }
}
.icon-2xl {
	i { font-size: 1.86em; }
}
.icon-xl {
	i { font-size: 1.6em; }
}
.icon-lg {
	i { font-size: 1.33em; }
}
.icon-sm {
	i { font-size: 0.9em; }
}